In [3]:
import pandas as pd
df=pd.read_csv("data selection and filtering.csv")
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

<h2>Selecting Columns</h2>

In [6]:
df["Film"]   # Single column (as Series)

0                      Pathaan
1              Tiger Zinda Hai
2                       Dangal
3                   Brahmastra
4                    Padmaavat
5                    Andhadhun
6                        Stree
7                          War
8                   Good Newwz
9            Bhool Bhulaiyaa 2
10       Badrinath Ki Dulhania
11    Uri: The Surgical Strike
Name: Film, dtype: object

In [7]:
df[["Film","Year"]]       # Multiple column (as DataFrame)

                        Film  Year
0                    Pathaan  2023
1            Tiger Zinda Hai  2017
2                     Dangal  2016
3                 Brahmastra  2022
4                  Padmaavat  2018
5                  Andhadhun  2018
6                      Stree  2018
7                        War  2019
8                 Good Newwz  2019
9          Bhool Bhulaiyaa 2  2022
10     Badrinath Ki Dulhania  2017
11  Uri: The Surgical Strike  2019

<h2>Selecting Rows by Index</h2>
Use .loc[] (label-based) and .iloc[] (index-based):

In [8]:
df.loc[0]   #First row (by label)

Actor                   Shah Rukh Khan
Film                           Pathaan
Year                              2023
Genre                           Action
BoxOffice(INR Crore)              1050
IMDb                               7.2
Name: 0, dtype: object

In [9]:
df.iloc[0]      #First row (by position)

Actor                   Shah Rukh Khan
Film                           Pathaan
Year                              2023
Genre                           Action
BoxOffice(INR Crore)              1050
IMDb                               7.2
Name: 0, dtype: object

<h2>Select Specific Rows and Columns</h2>

In [13]:
df.loc[0,"Actor"]     # Value at row 0, column "Actor"

'Shah Rukh Khan'

In [14]:
df.iloc[0,0]          # Value at row 0, column at index 1

'Shah Rukh Khan'

We can also slice:

In [18]:
df.loc[0:2,["Actor","Film"]]      # Fast label-based access

            Actor             Film
0  Shah Rukh Khan          Pathaan
1     Salman Khan  Tiger Zinda Hai
2      Aamir Khan           Dangal

In [19]:
df.iloc[0:2,0:2]                # Fast index based access

            Actor             Film
0  Shah Rukh Khan          Pathaan
1     Salman Khan  Tiger Zinda Hai

<h2>Filtering with Conditions</h2>

<h4>Simple Condition</h4>

In [21]:
df[df["Year"]>2018]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

<h4>Multiple Conditions (AND / OR)</h4>

In [22]:
df[(df["IMDb"]>6.5) & (df["Genre"]=="Action")]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [29]:
df[(df["Film"]=="War") | (df["Actor"]=="Hritik Roshan")]

            Actor Film  Year   Genre  BoxOffice(INR Crore)  IMDb
7  Hrithik Roshan  War  2019  Action                   475   6.5

<h2>Querying with .query()</h2>

The .query() method in pandas lets you filter DataFrame rows using a string expression — it's a more readable and often more concise alternative to using boolean indexing.

This is a cleaner, SQL-like way to filter:

In [38]:
df.query("IMDb>6 or Film =='War'")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [41]:
col="Year"
df.query(f"{col}<=2018")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1

<h4>rules and tips for using .query() in pandas:</h4><br>
<h4>1. Column names become variables</h4><br>
You can reference column names directly in the query string:

In [43]:
df.query("Actor=='Salman Khan'")

         Actor             Film  Year   Genre  BoxOffice(INR Crore)  IMDb
1  Salman Khan  Tiger Zinda Hai  2017  Action                   565   6.0

<h4>2. String values must be in quotes</h4><br>
Use single or double quotes around strings in the expression:

In [45]:
df.query("Actor=='Salman Khan'")

         Actor             Film  Year   Genre  BoxOffice(INR Crore)  IMDb
1  Salman Khan  Tiger Zinda Hai  2017  Action                   565   6.0

<h4>3. Use backticks for column names with spaces or special characters</h4>
If a column name has spaces, use backticks (`):

In [46]:
df.query("`BoxOffice(INR Crore)`>400")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
7,Hrithik Roshan,War,2019,Action,475,6.5

<h4>4. You can use @ to reference Python variables</h4><br>
To pass external variables into .query():

In [47]:
a=6.0
df.query("IMDb==@a")

         Actor             Film  Year   Genre  BoxOffice(INR Crore)  IMDb
1  Salman Khan  Tiger Zinda Hai  2017  Action                   565   6.0

<h4>5. Logical operators</h4><br>
Use these:
<ul>
    <li>and, or, not — instead of &, |, ~</li>
    <li>==, !=, <, >, <=, >=</li>
</ul>
Bad:
df.query("age > 30 & city == 'Delhi'")   ❌

Good:
df.query("age > 30 and city == 'Delhi'")   ✅

<h4>6. Chained comparisons</h4>

In [49]:
df.query("5<IMDb<=7")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1

<h4>7. Avoid using reserved keywords as column names</h4><br>
If you have a column named class, lambda, etc., you’ll need to use backticks:<br>
df.query("`class` == 'Physics'")

<h4>8. Case-sensitive</h4><br>
Column names and string values are case-sensitive:<br>
df.query("City == 'delhi'")   ❌ if actual value is 'Delhi'

<h4>9. .query() returns a copy, not a view</h4><br>
The result is a new DataFrame. Changes won't affect the original unless reassigned:

In [51]:
newdf=df.query("IMDb>5")
newdf

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

<h2>Summary</h2><br>
<ul>
    <li>Use df[col], .loc[], .iloc[], .at[], .iat[] to access data</li>
    <li>Filter with logical conditions or .query() for readable code</li>
</ul><br>
In pandas, .at and .iat are fast accessors used to quickly get or set a single value in a DataFrame or Series.